<header class="max-w-[1440px] mx-auto p-8 flex justify-between items-center">
  <img src="#" alt="Logo" class="w-auto h-[30px]" />
  <a
    class="text-lg font-semibold bg-primary hover:saturate-150 transition text-white rounded-full py-2 px-4"
    href="#"
  >
    Catálogo
  </a>
</header>
